.customerBorder{
  text-align: left;
}
.textBorder{
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  font-size: x-large;
  font-weight: 500;
}

.singleCust :hover{
  background-color: #AAD48C;

}
.label{
  margin-left: 5px;
  margin-bottom: -2px;
}

