.singleVisitCont{
  background-color: #AAD48C;
  margin: 5px 5px 30px 5px;
  padding: 5px;
}

.title > h3{
  white-space: nowrap;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title > h3, .description{
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  float: right;
}
.descTextArea{
  margin-top: 10px;
  margin-bottom: 5px;
}
.input{
  margin-top: 5px;
}
