<div class="singleVisitCont" [style.background-color]="outDatedVisit">
  <div class="row">
    <div class="col-md-12 title">
      <h3 style="margin:0px">{{visit?.title}}
        <button class="button" (click)="openModal('delete')"><i class="fa fa-trash" ></i></button>
      <button class="button" (click)="updateVisit()"><i class="fa fa-pencil" ></i></button>
      </h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 description">
      {{visit?.description}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      {{getEUString(visit?.dateTimeOfVisitStart)}} - {{getTimeOfDate(visit?.dateTimeOfVisitStart)}}
    </div>
    <div class="col-md-4 offset-5 right">
      Af: {{employee?.firstname}} {{employee?.lastname}}
    </div>
  </div>
</div>
<div *ngIf="updateVisitSelected">
  <app-visit-update (cancelSelected)="updateVisitSelected = false" [customer]="visit.customer" [visit]="visit"></app-visit-update>
</div>
<div class="myModal shouldClose" id="deleteModal" *ngIf="modalString === 'delete'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Slet Besøg</h3>
    <hr>
    <p>Er du siker på du vil slette dette besøg?</p>
    <hr>
    <div class="right">
      <button class="btn btn-outline-danger shouldClose clickable" onclick="this.disabled=true" (click)="delete($event)">Slet</button>
      <button class="btn btn-outline-secondary shouldClose should clickable" (click)="closeModal($event)">Annuller</button>
    </div>
  </div>
</div>

