<div class="EmployeesBorder col-md-3">
  <app-employee (click)="getInfo(emp)" *ngFor="let emp of employees" [employee]="emp" ></app-employee>
  {{setColors()}}
</div>
<div>
<button type="button" class="btn  btn-outline-success clickable form-control" (click)="createEmployee()">Opret ny bruger</button>
</div>

<div id="test" *ngIf="id" class="centerScreen">
  <form (ngSubmit)="updateEmployee()" [formGroup]="employeeGroup" novalidate>
    <div class="form-group">
      <label class="center-block">Fornavn:<span style="color: red">*</span>
        <input name="firstname" id="firstname"  type="text" class="form-control" [(ngModel)]="firstname" formControlName="firstname">
      </label>
      <label class="center-block">Efternavn:<span style="color: red">*</span>
        <input name="lastname" id="lastname"  type="text" class="form-control" [(ngModel)]="lastname" formControlName="lastname">
      </label>
      <label class="center-block">Farve vælger:<br>
        <input id="colorCode" [(ngModel)]="colorCode" type="color" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" formControlName="colorCode">
      </label>
    </div>
  </form>
  <div class="btnContainer">
    <button [disabled]="employeeGroup.invalid" type="button" class="btn btn-outline-success form-control " value="Gem" (click)="updateEmployee()">Gem</button>
    <button class="btn btn-danger" (click)="deleteEmployeeById(id)">Slet medarbejder</button>
  </div>
</div>
















