<div class="EmployeesBorder col-md-3">
  <app-employee (click)="getInfo(emp)" *ngFor="let emp of employees" [employee]="emp" ></app-employee>
  {{setColors()}}
</div>
<div>
<button type="button" class="btn marginLeft btn-success clickable form-control" (click)="createEmployee()">Opret ny bruger</button>
</div>

<div id="test" *ngIf="id" class="centerScreen">
  <form (ngSubmit)="updateEmployee()" [formGroup]="employeeGroup"  novalidate>
    <div class="form-group">
      <label class="center-block headerSize usernameWidth" >Brugernavn: {{username}}</label>
      <label class="center-block headerSize usernameWidth" >Nuværende rolle: {{currentRole}} </label>
      <label class="center-block">Fornavn:<span style="color: red">*</span>
        <input name="firstname" id="firstname"  type="text" class="form-control width" [(ngModel)]="firstname" formControlName="firstname">
      </label>
      <label class="center-block">Efternavn:<span style="color: red">*</span>
        <input name="lastname" id="lastname"  type="text" class="form-control width" [(ngModel)]="lastname" formControlName="lastname">
      </label>
      <label class="center-block">Vælg en farve:<br>
        <input class="width colorHeight" id="colorCode" [(ngModel)]="colorCode" type="color" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" formControlName="colorCode">
      </label>
    </div>
  </form>
  <div class="btnContainer">
    <button id="button1" [disabled]="employeeGroup.invalid" type="button" class="btn btn-success form-control " value="Gem" (click)="updateEmployee()" (eDeleted)="refresh()">Gem</button>
    <button id="button2" class="btn btn-primary form-control" style="outline: none" (click)="openModal('reset')">Nulstil adgangskode</button>
    <button id="button4" class="btn btn-info form-control" style="outline: none" (click)="openModal('role')">Ændrer rolle</button>
    <button id="button5" class="btn btn-secondary form-control" style="outline: none" (click)="openModal('deactivate')">Deaktiver konto</button>
    <button id="button3" class="btn btn-danger form-control" style="outline: none" (click)="openModal('delete')">Slet</button>
  </div>
</div>

<div class="myModal shouldClose" id="deleteModal" *ngIf="modalString === 'delete'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Slet medarbejder</h3>
    <hr>
    <p>Er du sikker på at du vil slette {{firstname}} {{lastname}}?</p>
    <hr>
    <div class="right">
      <button type="button" class="btn btn-danger shouldClose clickable" (click)="deleteEmployeeById(); closeModal($event)">
        Slet
      </button>
      <button type="button" class="btn btn-secondary shouldClose clickable" (click)="closeModal($event)">Annuller</button>
    </div>
  </div>
</div>

<div class="myModal shouldClose" id="role" *ngIf="modalString === 'role'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Ændre rolle</h3>
    <hr>
    <p>Er du sikker på du vil ændre {{firstname}} {{lastname}}s rolle fra {{currentRole}}?</p>
    <hr>
    <div class="right">
      <button type="button" class="btn btn-info shouldClose clickable" (click)="makeAdmin(); closeModal($event)">
        Ja
      </button>
      <button type="button" class="btn btn-secondary shouldClose clickable" (click)="closeModal($event)">Nej</button>
    </div>
  </div>
</div>

<div class="myModal shouldClose" id="resetPassword" *ngIf="modalString === 'reset'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Nulstil adgangskode</h3>
    <hr>
    <p>Er du sikker på du vil nulstille adgangskoden for {{firstname}} {{lastname}}?</p>
    <hr>
    <div class="right">
      <button type="button" class="btn btn-primary shouldClose clickable" (click)="resetPassword(); closeModal($event)">
        Nulstil
      </button>
      <button type="button" class="btn btn-secondary shouldClose clickable" (click)="closeModal($event)">Annuller</button>
    </div>
  </div>
</div>

<div class="myModal shouldClose" id="deactivateAccount" *ngIf="modalString === 'deactivate'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Deaktiver konto</h3>
    <hr>
    <p>Er du sikker på du vil deaktivere {{firstname}} {{lastname}}?</p>
    <hr>
    <div class="right">
      <button type="button" class="btn btn-outline-secondary shouldClose clickable" (click)="deactivateAccount(); closeModal($event)">
        Ja
      </button>
      <button type="button" class="btn btn-secondary shouldClose clickable" (click)="closeModal($event)">Nej</button>
    </div>
  </div>
</div>









