

.btn{
  width: auto;
  margin-top: 15px;
}
.center-block{
  margin-right: 15px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

.EmployeesBorder{
  height: 78vh;
  border: solid 2px gray;
  overflow-y: scroll;
}

.leftBorder{
  text-align: center;
  width: 100%;
}

.colorBox{
  margin-top: 20%;
  margin-left: 60%;
  width: 100px;
  height: 100px;

}

.centerScreen {
  position: fixed;
  width: 20%; /* Set your desired with */
  z-index: 2; /* Make sure its above other items. */
  top: 50%;
  left: 50%;
  margin-top: -20%; /* Changes with height. */
  margin-left: -10%; /* Your width divided by 2. */
}
