

.btn{
  width: auto;
  margin-left: 15px;
}
.center-block{
  margin-right: 15px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}
