
.headerSize{
  font-size: x-large;
}

.btnContainer{
  width: 500px;
}

.btn{
  width: 140px;
  margin-top: 15px;
}
.center-block{
  margin-right: 15px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

.marginLeft{
  margin-left: 30px;
}

.EmployeesBorder{
  margin-left: 30px;
  height: 78vh;
  border: solid 2px gray;
  overflow-y: scroll;
}

.leftBorder{
  text-align: center;
  width: 100%;
}

.colorBox{
  margin-top: 20%;
  margin-left: 60%;
  width: 100px;
  height: 100px;
}

.centerScreen {
  position: fixed;
  width: 20%; /* Set your desired with */
  z-index: 2; /* Make sure its above other items. */
  top: 70%;
  left: 60%;
  margin-top: -20%; /* Changes with height. */
  margin-left: -10%; /* Your width divided by 2. */
}

.width{
  width: 500px;
}

.usernameWidth{
  width: 1000px;
}

.colorHeight{
  height: 80px;
}

#snackbarSucces.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarSucces{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #5EBD17;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
  border-radius: 15px;
}

#snackbarDelete.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbarDelete{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #ef0404;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 25px;
  border-radius: 15px;
}


