<div class="singlePropCont">
  <div class="row">
    <div class="col-md-12">
      <h3 style="margin:0px">{{proposition.title}}</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      {{proposition.description}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      {{proposition.creationDate.substring(0,10)}}
    </div>
    <div class="col-md-4 offset-4">
      Af: {{employee.firstname}} {{employee.lastname}}
    </div>
  </div>
</div>
