.singlePropCont{
  background-color: #AAD48C;
  margin: 5px 5px 30px 5px;
  padding: 5px;
}

.title > h3{
  white-space: nowrap;
}

.description{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.title > h3, .description{
  text-overflow: ellipsis;
  overflow: hidden;
}


