.headline{
  font-size: xx-large;
  font-weight: 550;
  text-align: center;
}

.VisitListCont{
height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

}

.addBtnRow{
  border-bottom: 1px solid #c9c9c9;
  padding: 5px;
  display: block;
}
.visitCont{
  height: 86%;
  display: flex;

}
