<div class="row addBtnRow">
  <div class="col-md-12">
    <button class="addBtn" (click)="createVisit()"> <i class="fa fa-plus"></i></button>
    <button class="addBtn" (click)="showCalendar()"><i class="fa fa-calendar clickable" aria-hidden="true"></i></button>
  </div>
</div>
<div class=" visitCont">
  <div class="col-xl-6 col-md-6">
    <p class="headline">Fremtidige besøg</p>
    <div class="VisitListCont">
    <app-visit (vDeleted)="refresh()"*ngFor="let visit of futureVisits" [visit]="visit" [employee]="visit.employee" ></app-visit>
    </div>
  </div>
  <div class="col-xl-6 col-md-6  ">
    <p class="headline">Afsluttede besøg</p>
    <div class="VisitListCont">
        <app-visit  (vDeleted)="refresh()"*ngFor="let visit of pastVisits" [visit]="visit" [employee]="visit.employee" ></app-visit>
    </div>
  </div>
</div>

