<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" xmlns=""></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<div *ngIf="customer">
  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>{{customer.firstname}} {{customer.lastname}}</strong>
        <br/>
        Tlf: {{customer.phone}}
        <br/>
        CVR-Nr: {{customer.cvr}}
      </p>
    </div>

    <div class="col-md-3">
      <strong> Kommentar:</strong>
      <textarea class="descTextArea" rows="2" cols="50" (input)="customerDescription = $event.target.value">{{customer?.description}}</textarea>
    </div>
    <hr>
    <div class="col-md-4">
      <button class="btn btn-outline-success" (click)="saveUserDescrition()"><i class="fa fa-save big-icon"></i></button>

    </div>

    <div class="col-md-1 offset-md-2">
      <button class="btn-link" style="outline: none" (click)="openModal('details')">Kundeoplysninger</button>
      <button class="btn-link" style="outline: none" (click)="openModal('edit')">Redigér kunde</button>
      <button class="btn-link" style="outline: none" (click)="openModal('delete')">Slet</button>
    </div>
  </div>
  <div class="row">
    <tabs class="col-md-12 customerTab unselectable">
      <tab tabTitle="Tilbud" id="Tilbud" active="{{propTab}}">
        <app-proposition-list [customer]="customer"></app-proposition-list>
      </tab>
      <tab tabTitle="Slutseddel" id="Slutseddel" active="{{BoSTab}}">
        <app-receipt-list [customer]="customer"></app-receipt-list>
      </tab>
      <tab tabTitle="Maskinliste" id="Maskinliste" active="{{equipTab}}">
        <app-equipment-list [customer]="customer"></app-equipment-list>
      </tab>
      <tab tabTitle="Besøg" id="Besøg" active="{{visitTab}}">
        <app-visit-list [customer]="customer"></app-visit-list>
      </tab>
    </tabs>
  </div>
</div>
<div id="snackbarSucces"><i style="font-size: 35px" class="fa fa-check"></i></div>
<div class="myModal shouldClose" id="detailsModal" *ngIf="modalString === 'details'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Kundeoplysninger</h3>
    <div class="row">
      <div class="col-md-12">
        <h4>Navn: {{customer.firstname}} {{customer.lastname}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>CVR-nr: {{customer.cvr}} </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Adresse: {{customer.address}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>By: {{customer.zipCode}} {{customer.city}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Tlf: {{customer.phone}} </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Email: {{customer.email}}</h4>
      </div>
    </div>
    <div class="right">
      <button type="button" class="btn btn-outline-secondary shouldClose clickable" (click)="closeModal($event)">Luk</button>
    </div>
  </div>
</div>

<div class="myModal shouldClose" id="deleteModal" *ngIf="modalString === 'delete'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3>Slet kunde</h3>
    <hr>
    <p>Du er igang med at slette {{customer.firstname}} {{customer.lastname}}!</p>
    <hr>
    <div class="right">
      <button type="button" class="btn btn-outline-danger shouldClose clickable" (click)=" deleteCustomer(); closeModal($event)">
        Slet
      </button>
      <button type="button" class="btn btn-outline-secondary shouldClose clickable" (click)="closeModal($event)">Anuller</button>
    </div>
  </div>
</div>

<div class="myModal shouldClose" id="editModal" *ngIf="modalString === 'edit'" (click)="closeModal($event)">
  <div class="myModalContent">
    <h3 class="editModal-title">Redigér kunde</h3>
    <div class="row">
      <div class="col-md-4">
        <h4 class="property-text">Fornavn: </h4>
        <h4 class="property-text">Efternavn: </h4>
        <h4 class="property-text">CVR-nr: </h4>
        <h4 class="property-text">Adresse: </h4>
        <h4 class="property-text">Postnr: </h4>
        <h4 class="property-text">By: </h4>
        <h4 class="property-text">Tlf: </h4>
        <h4 class="property-text">Email: </h4>
      </div>
      <div class=" input-container col-md-8">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editCustomer.firstname">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editCustomer.lastname">
        <input class="input form-control no-spin" (change)="changes = true" type="number"
               [(ngModel)]="editCustomer.cvr">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editCustomer.address">
        <input class="input form-control no-spin" (change)="changes = true" type="number"
               [(ngModel)]="editCustomer.zipCode">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editCustomer.city">
        <input class="input form-control no-spin" (change)="changes = true" type="number"
               [(ngModel)]="editCustomer.phone">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editCustomer.email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="!isSaved ">
          <div *ngIf="changes">
            <strong class="notSaved-text"> Ændringer er ikke gemt </strong>
          </div>
        </div>
      </div>
      <div class="col-md-7 right">
        <button type="button" class="btn btn-outline-success shouldClose clickable"
                (click)="updateCustomer(); closeModal($event)">Gem
        </button>
        <button type="button" class="btn btn-outline-danger shouldClose clickable" (click)="cancel(); closeModal($event)">Anuller
        </button>
      </div>
    </div>
  </div>
</div>
