<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<div *ngIf="customer">
  <div class="row">
    <div class="col-md-2">
      <p>
        <strong>{{customer.firstname}} {{customer.lastname}}</strong>
        <br/>
        Tlf: {{customer.phone}}
        <br/>
        CVR-Nr: {{customer.cvr}}
      </p>
    </div>
    <div class="col-md-1 offset-md-9">

        <button class="btn-link" (click)="open(content)">Kundeoplysninger</button>
        <a href="">Redigér kunde</a><br/>
        <a href="">Slet kunde</a>

    </div>
  </div>
  <div class="row">

    <tabs class="col-md-12 customerTab">
      <tab tabTitle="Tilbud">
        <app-proposition-list></app-proposition-list>
      </tab>
      <tab tabTitle="Slutseddel">
        SLUTSEDDEL!
      </tab>
      <tab tabTitle="Maskinliste">
        MASKINLISTE!
      </tab>
      <tab tabTitle="Besøg">
        BESØG!
      </tab>
    </tabs>
    <ng-template #content let-c="close">
      <div class="modal-header">
        <h4 class="modal-title">Kundeoplysninger</h4>
        <button type="button" class="close" aria-label="Close"  (click)="c('Close click')" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')" >Luk</button>
      </div>
    </ng-template>
  </div>
</div>

