.CustomersBorder{
  height: 78vh;
  border: solid 2px gray;
  overflow-y: scroll;
}

.leftBorder{
  text-align: center;
  width: 100%;
}
.text{

  text-align: center;
}
.centerBorder{
text-align: center;
}
.calendarButtonContainer{
  margin-top: 10.75%;
}

.calendarButton{
  background-color: #EE7203;
  border-color: #EE7203;
}

.buttonsContainer{
  margin-top: 4%;
}
#btnChangeList{
  height: 65px;
  width: 65px;
}
.big-icon {
  font-size: 32px;
}
.btnMain{
  height: 65px;
  width: 80%;
  font-size: x-large;
  margin-bottom: 20px;
}

.btn:disabled{
  background-color: grey;
  border-color: grey;
}
.input {
  width: 100%;
  margin-bottom: 5px;
  border: solid 2px lightgray;
  text-align: left;
  font-size: x-large;
  ;
}



