.CustomersBorder{
  height: 78vh;
  border: solid 2px gray;
  border-radius: 10px;
  margin-left: 5px;
}

.leftBorder{
  text-align: center;
  width: 300px;
}
.text{

  text-align: center;
}
.centerBorder{
text-align: center;
}
.buttonsContainer{
  margin-top: 14.75%;

}

.btn{
  height: 65px;
  width: 80%;
  font-size: x-large;
  margin-bottom: 20px;
}

.btn:disabled{
  background-color: grey;
  border-color: grey;
}
