
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h1 class="text">Kunder</h1>
    </div>
  </div>
  <div class="row">

    <div class="leftBorder col-md-3" (click)="showQuery()">
     <h3> <input class="input"  (input)="query= $event.target.value" > </h3>
      <button (click)="search()"> Søg</button>

      <div class="CustomersBorder">
        <app-customer (click)="details(cust)" *ngFor="let cust of customers" [customer]="cust"></app-customer>
      </div>
    </div>
    <div class="centerBorder col-md-9">
      <div class="buttonsContainer">
        <button class=" btn btn-success clickable" (click)="createCustomer()"> Opret kunde</button>
        <button class=" btn btn-success clickable" disabled> Opret besøg</button>
        <button class=" btn btn-success clickable" (click)="creaeteProposition()"> Tilføj tilbud</button>
        <button class=" btn btn-success clickable" disabled> Tilføj slutseddel</button>
      </div>
    </div>
  </div>
</div>
