<div class="propCont">
  <div class="row addBtnRow">
    <div class="col-md-12">
      <button class="addBtn" (click)="create()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="row propsCont">
    <ng-container *ngFor="let prop of propositions; let i = index">
      <div class="clearfix" *ngIf="i % 4 == 0"><br></div>
      <div class="col-xl-3 col-md-6">
        <app-proposition (click)="details(prop)" [proposition]="prop" [employee]="prop.employee"></app-proposition>
      </div>
    </ng-container>
  </div>
</div>
