<div>
      <div class=" input-container col-md-8">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editPassword.password">
        <input class="input form-control" type="text" (change)="changes = true" [(ngModel)]="editPassword.password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="!isSaved ">
          <div *ngIf="changes">
            <strong class="notSaved-text"> Ændringer er ikke gemt </strong>
          </div>
        </div>
      </div>
      <div class="col-md-7 right">
        <button type="button" class="btn btn-outline-success shouldClose clickable" (click)="updateEmployee();">Gem </button>
        <button type="button" class="btn btn-outline-danger shouldClose clickable" (click)="cancel();">Anuller
        </button>
      </div>
    </div>




