

.btnContainer{
  width: 100%;
}

.btn, .center-block{
  width: 48%;
}
.margintop{
  margin-top: 5px;
}

.passwordMismatch{
  width: 96%;
}

.centerScreen {
  width: 30%; /* Set your desired with */
  margin: 50px auto;
}

