<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div>
  <div class="centerScreen inputsContainer row-md">
    <form (ngSubmit)="updateEmployee()" [formGroup]="employeeGroup" novalidate>
      <div class="form-group">
    <label class="center-block">Ny kode:<span style="color: red">*</span>
      <input id="password" type="text" class="form-control" formControlName="password" >
    </label>
    <label class="center-block">Bekræft kode:<span style="color: red">*</span>
      <input id="confirmPassword" type="text" class="form-control" formControlName="confirmPassword">
    </label>
  </div>
    </form>
    </div>
    </div>
      <div class="btn">
        <button [disabled]="employeeGroup.invalid" type="button" class="btn-outline-success form-control " value="Gem" (click)="updateEmployee()">Gem</button>
        <button type="button" class="btn-outline-danger shouldClose clickable form-control margintop" (click)="logout()">Anuller</button>
        <div class="alert alert-danger" *ngIf="form.controls.password.errors?.MatchPassword">Password not match</div>
      </div>
</body>
</html>
