<!DOCTYPE html>
<html>
<head>
  <script type='javascript' >
    function myFunction(input) {
      window.onload=function(){loadMe()};
      if (input.value !== document.getElementById('password').value) {
        input.setCustomValidity('Password Must be Matching.');
      } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
      }
    }
  </script>
</head>

<body>
<div class="col-md-6 col-md-offset-3" class="centerScreen">
<div>
  <div class=" input-container" >
    <p>Ny kode</p>
    <input id="password" required="required" class="form-control" type="password" (change)="changes = true" >
    <p>Bekræft kode</p>
    <input id="confirmPassword" required="required" class="form-control" type="password" (change)="changes = true" oninput="myFunction(this)" [(ngModel)]="editPassword.password"  >
  </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="!isSaved ">
        </div>
      </div>
    </div>
      <div class="btn">
        <button type="button" class="btn-outline-success form-control " value="Gem" (click)="updateEmployee()">Gem</button>
        <button type="button" class="btn-outline-danger shouldClose clickable form-control margintop" (click)="logout()">Anuller</button>

      </div>
</div>
</body>
</html>
