<head>
  <meta charset="utf-8">
</head>

<div class=" col-md-4" xmlns="">
  <h1>Opret bruger</h1>
  <div class="inputsContainer row-md">
    <form (ngSubmit)="createEmployee()" [formGroup]="employeeGroup" novalidate>
      <div class="form-group">
        <label class="center-block">Fornavn:<span style="color: red">*</span>
          <input type="text" class="form-control"  formControlName="firstname">
        </label>
        <label class="center-block">Efternavn:<span style="color: red">*</span>
          <input type="text" class="form-control" formControlName="lastname">
        </label>
        <label class="center-block">Username:<span style="color: red">*</span>
          <input type="text" class="form-control" formControlName="username">
        </label>
        <label class="center-block">Farve vælger:<br>
        <input type="color" name="color" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" formControlName="colorCode">
        </label>
      </div>
  <button  type = "submit" (click)="createEmployee();" onclick="disabled=true" class=" btn btn-success clickable" >Gem</button>
  <button (click)="close()" class=" btn btn-danger clickable" >Anuller</button>
  </form>
</div>
</div>


