<div class="col-md-2">
  <h2>Opret besøg</h2>
<form [formGroup]="visitGroup" >

      <select class="dropdown" name="customerSelector" formControlName="customerSelector">
          <option value="" >Vælg kunde</option>
          <ng-container *ngFor="let cust of customers">
            <ng-container *ngIf="customer != null">
              <option *ngIf="cust.id != customer.id" value="{{cust.id}}">{{cust.firstname}} {{cust.lastname}}</option>
              <option selected *ngIf="cust.id == customer.id" value="{{cust.id}}">{{cust.firstname}} {{cust.lastname}}
              </option>
            </ng-container>
            <ng-container *ngIf="customer == null">
              <option value="{{cust.id}}">{{cust.firstname}} {{cust.lastname}}</option>
            </ng-container>
          </ng-container>
        </select>
      <ngb-datepicker class="bs-datepicker " [(ngModel)]="model" (navigate)="date = $event.next" formControlName="datePicked" ></ngb-datepicker>
      <input type="text" class="input" placeholder="Titel" name="title" formControlName="title"/>
        <textarea class="descTextArea"  placeholder="Kort beskrivelse" name="description" formControlName="description"></textarea>
</form>
</div>

  <div class="col-md-4">
    <input class="btn btn-success" type="button" (click)="createVisit()" value="Gem" name="save" [disabled]="!visitGroup.valid"/>
    <input class="btn btn-danger" type="button" value="Annuller" name="cancel" (click)="cancel()"/>
  </div>


