.cont {
  padding-left: 15px;
}

.dropdown{
  width: 178px;
}
.descTextArea {
  height: 150px;
  min-width: 350px;
  resize: horizontal;
}
.datepicker {
  margin-bottom: 20px;
  margin-left: 20px;
}

.dpText{
  margin-left: -15px;
}
.input{
margin-left: -15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn{
  margin-top: 15px;
  width: 88px;
}

.marginB5{
  margin-bottom: 5px;
}

.timeInput{
  width: 64px;
}
