<img class="img" src="assets/TBSLogo.png">
<hr>
<div class="container col-md-6">
  <h1>Opret kunde</h1>
  <div class="inputsContainer col-md-6">
    <p>Fornavn: <input class="input"></p>
    <p> Efternavn: <input class="input"></p>
    <p>Adresse: <input class="input"></p>
    <p>Postnr: <input class="input"></p>
    <p>By: <input class="input"></p>
    <p>Tlf: <input class="input"></p>
    <p>Email: <input class="input"></p>
    <p>CVR: <input class="input"></p>
  </div>
  <div class="btnContainer col-md-6">
    <button (click)="cancel()" class=" btnc btn-danger">Anuller</button>
    <button class=" btnc btn-success">Gem</button>
  </div>
</div>

