

.btn{
  width: 88px;
}
.center-block{
  margin-right: 15px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

#check_box{
  margin-left: 40px;
  height: 20px;
  width: 20px;
}
#check_box_label{
  margin-left: 15px;
}
