<div class=" col-md-4" xmlns="">
  <h1>Opret kunde</h1>

  <div class="inputsContainer row-md">
    <form (ngSubmit)="createCustomer()" [formGroup]="customerGroup" novalidate>
      <div class="form-group">
        <label class="center-block">Fornavn:<span style="color: red">*</span>
          <input type="text" class="form-control" formControlName="firstname">
        </label>
        <label class="center-block">Efternavn:<span style="color: red">*</span>
          <input type="text" class="form-control" formControlName="lastname">
        </label>
        <label class="center-block">CVR:
          <input type="number" class="form-control no-spin" formControlName="cvr">
        </label>
        <label class="center-block">Adresse:
          <input type="text" class="form-control" formControlName="address">
        </label>
        <label class="center-block">Postnr:
          <input type="number" class="form-control no-spin" formControlName="zipCode">
        </label>
        <label class="center-block">By:
          <input type="text" class="form-control" formControlName="city">
        </label>
        <label class="center-block">Tlf:
          <input type="number" class="form-control no-spin" formControlName="phone">
        </label>
        <label class="left">Email:
          <input type="email" class="form-control" formControlName="email">
        </label>
      </div>
    </form>
  </div>
  <button (click)="close()" class=" btn btn-danger" >Anuller</button>
  <button  [disabled]="customerGroup.invalid" type ="submit" (click)="createCustomer()" onclick="disabled=true" class=" btn btn-success" >Gem</button>
</div>


