
.container{
  margin: 5px;
}
.input{
  float: right;
}
.btn{
  float: right;
  margin: 5px;
  width: 88px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}
