
<div class="container col-md-4">
  <h1>Opret kunde  <button (click)="close()" class=" btn btn-danger">Anuller</button>
    <button type ="submit" (click)="createCustomer()" class=" btn btn-success">Gem</button>
  </h1>

  <div class="inputsContainer col-md-6">
    <form (ngSubmit)="createCustomer()" [formGroup]="customerGroup" novalidate>
      <div class="form-group">
        <label class="center-block">Fornavn:
          <input class="form-control" formControlName="firstname">
        </label>
        <label class="center-block">Efternavn:
          <input class="form-control" formControlName="lastname">
        </label>
        <label class="center-block">Adresse:
          <input class="form-control" formControlName="address">
        </label>
        <label class="center-block">Postnr:
          <input class="form-control" formControlName="zipCode">
        </label>
        <label class="center-block">By:
          <input class="form-control" formControlName="city">
        </label>
        <label class="center-block">Tlf:
          <input class="form-control" formControlName="phone">
        </label>
        <label class="left">Email:
          <input class="form-control" formControlName="email">
        </label>
        <label class="center-block">CVR:
          <input class="form-control" formControlName="cvr">
        </label>
      </div>
    </form>
  </div>

</div>

