<div class="row" *ngIf="calendarOptions && visits && employees">
  <div class="employeeContainer col-md-2">
    <div class="singleEmpCont" *ngFor="let emp of employees">
      <input type="checkbox" (click)="toggle(emp.id)" [checked]="true" /><span class="{{emp.colorCode}} bullet">•</span><span class="empSpan">{{emp.firstname}} {{emp.lastname}}</span>
    </div>
  </div>
  <div class="col-md-10 calCont">
    <button (click)="printPdf()" style="float: right"class="btn btn-info clickable"><i class="fa fa-download"></i></button>
    <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                     (eventClick)="eventClick($event.detail)"
                     (eventDrop)="updateEvent($event.detail)"
                     (eventResize)="updateEvent($event.detail)"
                     (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
    <div *ngIf="!colorDone">{{setColors()}}</div>
    <div *ngIf="colorDone"></div>
  </div>
</div>

